// colours
$timberGreen: #183030;
$black: #222;

//fonts
$heading-font-family: 'Oswald', sans-serif;
$base-font-family: 'Quattrocento', serif;

body {
    color: $black;
}

a {
    text-decoration: none;
    color: $black;
}