.button {
    border: 1px solid $black;
    padding: 10px 20px;
    display: inline-block;
    margin: 15px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 600;
    background: white;
    border-radius: 10px;

    box-shadow: 0 4px $black;
    position: relative;
}

button:hover,
input[type="submit"]:hover {
    box-shadow: 0 2px $black;
    top: 2px;
}
button:active,
input[type="submit"]:active {
    box-shadow: 0 0 $black;
    top: 4px;
}

