.fa-times {
    cursor: pointer;
    // position: absolute;
    // right: 5px;
}

.fa {
    font-size: 25px;
}


.deckTitle {
    font-weight: bold;
    text-transform: uppercase;
    margin-top: 20px;
}

.deckButtons {
    display: flex;
    justify-content: space-between;
}

.fa {
    margin: 0 10px;
}

.titleContainer {
   text-align: center;
}